
# NK Custom

# Tips:
    # Inspect what packages loads slow
        # Packages -> Timecop -> Show

    # Save session in Atom
        # Always open Atom from terminal:
            # > atom ~/a.py

        # Next time when you run:
            # > atom ~/a.py
                # session will be restored

# Packages
    # Rainbow parenthesis
        # > apm install johngeorgewright/atom-rainbow

# See command names (ex. pane:close) :
    # Edit -> Preferences -> Keybindings

'atom-text-editor.vim-mode-plus:not(.insert-mode)':
    # https://atom.io/packages/keystroke

    # Toggle line comments - 'space space'
    'space space': 'editor:toggle-line-comments'

    # Close pane - 'space w'
    'space w': 'pane:close'

    # Focus panes - 'space 2' - next, 'space 1' - previous
    'space 2': 'window:focus-next-pane'
    'space 1': 'window:focus-previous-pane'

    # Show Atom preferences pallete settings/commands
    'space p': 'command-palette:toggle'

# override default key bindings
'.workspace .editor:not(.mini)':
  'ctrl-j': 'pane:show-next-item'
  'ctrl-k': 'pane:show-previous-item'
